{% extends 'main/base.html' %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

{% block content %}

    <div class="contact-section-header">
        <h2>You can find my work</h2>
        <p>Feel free to contact me if you have som projects</p>
    </div>
    <div class="contact-links">
        <a id="profile-link" href="https://github.com/rollandfly?tab=repositories" target="_blank"
            ><i class="fab fa-github"></i> GitHub</a>

        <a id="profile-link" href="https://replit.com/@damienventura" target="_blank" ><i
                class="fas fa-toolbox"></i> Replit</a>

        <a href="mailto:damien.ventura@gmail.com"><i class="fas fa-at"></i> Send a mail</a>

    </div>

{% endblock %}